SECRET_KEY = 'ny033+z#r)$cpjl9gnbi*v=p8rjl2(%3-f&*v(mhi4#^eur9u8'  # used by Django to create hashes (string)
DEBUG = True  # run Django in debug mode, which outputs stack traces to the UI, set to False for production (boolean)
ALLOWED_HOSTS = ['localhost', 'zorya-web']  # hosts Zorya will respond to (list of strings)
SQL_ENGINE = 'django.db.backends.postgresql'  # the database engine used by Zorya (string, one of django.db.backends)
SQL_DATABASE = 'postgres'  # name of the application database (string)
SQL_USER = 'postgres'  # name of the application database user (string)
SQL_PASSWORD = 'postgres'  # password for the application database (string)
SQL_HOST = 'zorya-db'  # host for the application database (string)
SQL_PORT = 5432  # port on which the application database can be reached (integer)
BASE_DIR = ''
SRC_DIR = '{}/src_dir'.format(BASE_DIR)  # Source directory (string)
TMP_DIR = '{}/tmp_dir'.format(BASE_DIR)  # Temporary directory (string)
DEST_DIR = '{}/dest_dir'.format(BASE_DIR)  # Destination directory (string)

DELIVERY_URL = 'http://ursa-major-web:8005/store-bags/'  # URL to which to deliver packages (string)
RIGHTS_URL = 'http://aquila-web:8000/rights'  # URL of rights assembly service (string)

AWS_REGION_NAME = "us-east-1"  # Region name for AWS bucket that bags will be downloaded from (string)
AWS_ACCESS_KEY = "123456789"  # Access key for AWS bucket that bags will be downloaded from (string)
AWS_SECRET_KEY = "987654321"  # Secret key for AWS bucket that bags will be downloaded from (string)
AWS_BUCKET_NAME = "rac-iiif"  # Bucket name for AWS bucket that bags will be downloaded from (string)
